/* Formatação Geral*/
body{
	font-family: Staatliches, "Amatic+SC", cursive;
}

h1,h2,h3{
	margin: 0;
	font-family: "Bebas+Neue";
	font-weight: 700;
}
p{
	font-family: Gaegu, "Amatic+SC", cursive; 
}
/* Cabeçalho ou barra de navegação */

.logo img{

}

nav{
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #7bccd8;
	padding: 30px;

}

nav ul{
	list-style: none;
	padding: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

nav ul li{
	text-align: center;
	width: 100%;
	font-size: 1.5em;
	padding: 2%;
}

nav ul li a{
	display: inline-block;
	padding: 10px 0;
	width: 100%;
	text-decoration: none;
	color: #fff; 
}

@media screen and (min-width: 768px){
/* Cabeçalho ou barra de navegação*/
nav{
	flex-direction: row;
	justify-content: space-around;

}

nav ul{
	flex-direction: row;
	width: 70%;
	
}

}

