/* Formatação Geral*/
body{
	font-family: Staatliches, "Amatic+SC", cursive;
	}

h1,h2{
	margin: 0;
	font-family: "Bebas+Neue";
	font-weight: 700;
		}
p{
	font-family: Gaegu, "Amatic+SC", cursive; 
	}
	h3{
	font-family: Caveat;
	}

.container{
	width: 100%;
}
/* Cabeçalho ou barra de navegação */


nav{
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #7bccd8;
	padding: 30px;

}

nav ul{
	list-style: none;
	padding: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

nav ul li{
	text-align: center;
	width: 100%;
	font-size: 1.5em;
	padding: 2%;
}

nav ul li a{
	display: inline-block;
	padding: 10px 0;
	width: 100%;
	text-decoration: none;
	color: #fff; 
}

/*Header */

header{
	background-image: url('../img/fundo4.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	color: #fff;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	padding: 30px;
}

header p{
	margin-bottom: 2em;
	font-size: 1.7em;
}

.botao{
	 	color: #fff;
	 	text-decoration: none;
	 	padding: 10px 30px;
	 	background-color: #7bccd8;
	 	font-size: .9em;
	 	border-radius: 10%;
}


/*Sobre*/

#sobre{
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	background-color: #fcd1c2;
	color: #fff;
}
#sobre h2{
	margin-top: 20px;
	font-size: 2em;
	align-items: center;
}
.foto img{
	width: 60%;
	border-radius: 50%;
	
}
.foto{
	float:left;
	width: 50%;
}
.texto{
	float:right;
	width: 50%;
}

/*habilidades*/
#habilidades{
	padding: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	margin: 0 auto;

}

#habilidades div{
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	margin-top: 30px;

}

#habilidades p{
	line-height: 1.5;
	margin: 2vh;
	font-size: 1.2em;
}

#habilidades img{
	margin: 10px 0;
}

#habilidades h2{
	font-size: 2em;
}


@media screen and (min-width: 768px){
/* Cabeçalho ou barra de navegação*/
nav{
	flex-direction: row;
	justify-content: space-around;

}

nav ul{
	flex-direction: row;
	width: 70%;
	
}

/* Header*/
header{
	height: 60vh;
	justify-content: center;
}

/* Sobre*/
#sobre{
	flex-direction: row;
	flex-wrap: wrap;/*para quebrar*/
	align-items: center;
	height: 90vh;
	justify-content: center;
	min-height: 80vh;
}
#sobre h2{
	align-items: justify;
	width: 100%;
}
#sobre div{
	flex-grow: 1;
	flex-basis: 300px;
	padding: 0 50px;
}
/*habilidades*/
#habilidades{
	flex-direction: row;
	flex-wrap: wrap;
	align-items: flex-start;
	max-width: 0 auto;

}

#habilidades h2{
	text-align: center;
	width: 100%;
}

#habilidades div{
	flex-grow: 1;
	flex-basis: 150px;
	padding: 0 10px;

}



