/* Formatação Geral*/
body{
	font-family: Staatliches, "Amatic+SC", cursive;
}

h1,h2,h3{
	margin: 0;
	font-family: "Bebas+Neue";
	font-weight: 700;
}
p{
	font-family: Gaegu, "Amatic+SC", cursive; 
}
/* Cabeçalho ou barra de navegação */

.logo img{

}

nav{
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #7bccd8;
	padding: 30px;

}

nav ul{
	list-style: none;
	padding: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

nav ul li{
	text-align: center;
	width: 100%;
	font-size: 1.5em;
	padding: 2%;
}

nav ul li a{
	display: inline-block;
	padding: 10px 0;
	width: 100%;
	text-decoration: none;
	color: #fff; 
}

/*Header */

header{
	background-image: url('../img/fundo4.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	color: #fff;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	padding: 30px;
}

header p{
	margin-bottom: 2em;
	font-size: 1.7em;

}
 .botao{
 	color: #fff;
 	text-decoration: none;
 	padding: 10px 30px;
 	background-color: #7bccd8;
 	font-size: .9em;
 	border-radius: 10%;
 }

@media screen and (min-width: 768px){
/* Cabeçalho ou barra de navegação*/
nav{
	flex-direction: row;
	justify-content: space-around;

}

nav ul{
	flex-direction: row;
	width: 70%;
	
}

/* Header*/
header{
	height: 600px;
	height: 60vh;
	justify-content: center;

}


}

